/* --- Geral --- */

.backgroundDefault{
    background-color: #3b62cf;
}

/* --- Header --- */

.buttonHeader{
    font-size: 1.050rem;
    font-weight: 500;
    padding: 11px 20px;
    background-color: transparent;
    border: 2px solid #222222;
    color: #222222;
}

.buttonHeader:hover {
    animation: btnbackground 400ms 500ms both;
}

/* --- Div Principal --- */

.alignTextCentral{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 86vh;
}

.pText {
    font-size: 2.3rem;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    color: #fefaf6;
}


.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 3.5s steps(40) 1s infinite both;
}

.textSize1 {
    font-size: 3em;
    color: #fefaf6;
}
.textSize2 {
    font-size: 2em;
    color: #fefaf6;
}
.textSize3 {
    font-size: 1.2em;
    color: #fefaf6;
}

.iconLinkedin{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    background-color:  transparent;
    color: #fff;
    border: 1px solid #fefaf6;
    border-radius: 70px;
    padding: 8px;
    margin-right: 3px;
}

.iconGithub{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    background-color:  transparent;
    color: #fefaf6;
    border: 1px solid #fefaf6;
    border-radius: 70px;
    padding: 8px;
    margin-left: 3px;
}

/* --- Skills --- */

.skillOrg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px 10px;
}

.skillText{
    display: flex;
    width: 50%;
    justify-content: left;
    text-align: left;
    flex-direction: column;
}

.titleSkill{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fefaf6;
    text-decoration: underline #222222 3px;
}

.containerS{
    width: 50%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    background-color: #fefaf6;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #fefaf6, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgcontainerS{
    display: flex;
    flex-direction: row;
}

.imgS{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.w100{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.w80 {
    width: 80%;
}

.marginToFix{
    margin-left: 4rem;
}

.titleLang {
    font-size: 1.2rem;
    font-weight: 400;
}

/* --- Projects --- */

.responsiveProjects {
    display: flex;
    flex-direction: column;
}

.cardStyle {
    background-color: #fefaf6;
    margin: 5% 9%;
    padding: 1.4rem 1.4rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border:0.124rem solid #222222;
}


.imgProjects {
    width: 300 !important;
    height: 300 !important;
}

.btnCard{
    border-radius: 0.55rem;
    background-color: #222222;
    color: #fefaf6;
    border: none;
    padding: 0.3rem 0.8rem;
}

.btnCard:hover{
    background-color: #fefaf6;
    color: #222222;
    border: 1px solid #222222;
}

.marginCard{
    margin-left: 0.875rem;
}


/* --- Animações --- */

@keyframes btnbackground {
    from{
        background-color: transparent;
    }
    to{
        background-color: #fff;
        border: 2px solid #fff;
    }
    
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 22rem;
    }
    
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255,255,255,0.75);
    }
    to {
        border-right-color: transparent;
    }
}
 